.learnProcessCard-wrapper {
    padding: 2.5rem;
    width: 25rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: auto;
}

.learnProcessCard-bxshoadow {
    box-shadow: .6rem .8rem 8rem rgba(148, 148, 148, 0.16);
}

.font-awsome-size {
    font-size: 4rem;
    margin: 5rem;
    color: #05796B;
    display: block;

}

.learnProcessCard-img {
    background: white;
    height: 10rem;
    width: 10rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}



.learnProcessCard-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 5rem;
}

.learnProcessCard-subtitle p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 1rem;
    text-align: center;
}

.learnProcessCard-wrapper.bgColor>.learnProcessCard-title {
    width: 20%;
    padding-top: 3rem;
}

.learnProcessCard-circle {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 3%;
    left: 25%;
    background-color: #F6F6F7;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    font-family: 'Manrope';
    border-radius: 1.5rem;
}

